// Define variables for your color scheme

// Pastel-colors
$pastel-blue: #AAC4FF;
$pastel-yellow: #FBFACD;
$pastel-pink: #F9CEEE;
$pastel-green: #C8FFD4;
$light-gray: #F4F4F4;

// Pop-colors
$pop-blue: #3E1FFE;
$pop-yellow: #FECD1A;
$pop-pink: #F637EC;
$pop-green: #00FFAB;
