// Import page-specific CSS files here.
@import "home";

.licorne-infos li {
  list-style: none;
}

.background {
  background-color: #EEF1FF;
}

.title h1 {
  color : violet;
  padding-top: 40px;
  margin-bottom: 40px;
}
