// Import page-specific CSS files here.
@import "home";
@import "dashboard";

.licorne-infos li {
  list-style: none;
  font-family: "Cinzel"
}

.title h1 {
  color : violet;
  padding-top: 40px;
  margin-bottom: 40px;
  font-family: "Explora";
}
