<div class="container-licorne">
  <div class="d-flex justify-content-center">
    <div class="card-licorne-booking">
      <h1>Your Booking</h1>
      <% @licorne = Licorne.find(@booking.licorne_id) %>
      <div class="d-flex justify-content-start">
        <h2>Licorne :</h2>
        <p class="ms-5 mt-2"><strong><%= @licorne.name %></strong></p>
      </div>
      <div class="d-flex justify-content-start">
        <h2>Date :</h2>
        <p class="ms-5 mt-2"><strong><%= @booking.date %></strong></p>
      </div>
      <i class="fa-solid fa-gift"></i>
      <h1>Your unicorn is booked!</h1>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <div class="btn a me-1 ms-1"><%= link_to "Return to all licornes", licornes_path %></div>
    <div class="btn a me-1 ms-1"><%= link_to "My dashboard", dashboard_path %></div>
  </div>
</div>
