.test {
  width: -25px;
  border-radius: 15px;
  padding: 16px;
  color: $pop-blue;
}

.fa-horse {
  color: $pop-blue;
  padding-right: 5px;
}

a {
  text-decoration: none;
}

a:hover {
  color: $white;
}

.link:hover {
  color: $pop-blue;
  font-weight: bolder;
}
