<div class="cover d-flex align-items-center justify-content-center">
  <div class="text-center text-white">
    <h1>
      <p> For your greatest events, or just for a fun day, </p>
      <p> <strong> book a licorne ! </strong> </p>
    </h1>

    <%= link_to "CHECK ALL LICORNES", licornes_path, class: "btn btn-lg", id: "home-btn" %>
  </div>
</div>
