.btn {
  border-radius: 10px;
  background-color : $pastel-blue;
  color : $pop-blue;
  font-family: "Cinzel"
}

.btn:hover {
  background-color : $pop-blue;
  font-weight: bolder;
  transition-duration: 0.2s;
}

.btn a {
  text-decoration: none;
}

.cancel-btn {
  background-color: $pastel-pink;
  color: rgba(252, 0, 147, 0.562)
}
.cancel-btn:hover {
  background-color: $pop-pink;
  color: $pastel-pink
}

.confirm-btn {
  background-color: $pastel-green;
  color: rgba(0, 128, 0, 0.555)
}
.confirm-btn:hover {
  background-color: $pop-green;
  color: $pastel-green
}
