.btn {
  border-radius: 10px;
  background-color : $pastel-blue;
  color : $pop-blue;
  font-family: "Cinzel"
}

.btn:hover {
  background-color : $pop-blue;
  font-weight: bolder;
  transition-duration: 0.2s;
}

.btn a {
  text-decoration: none;
}

#home-btn {
  width: 400px;
}
