.card-licorne {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  width: 400px;
  height: 475px;
  border-radius: 15px;
  .licorne-img img {
    object-fit: cover;
    height: 250px;
    width: 100%;
    border-radius: 15px;
  }
  .licorne-infos {
    margin: 20px auto 20px;
  }

  .btn {
    margin-right: 20px;
  }
}

.card-title {
  text-align: flex-start;
}

.card-list-items {
  display: flex;
  justify-content: space-between;
}

.card-flex-item {
  background: gray;
  width: 50px;
  height: 50px;
  margin: 0 5px;
  font-family: "Cinzel";
}

.card-licorne-large {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  margin: 20px auto;
  padding-top: 10px;
  width: 1200px;
  height: 400px;
  border-radius: 15px;
  align-content: center;
}
