.card-licorne {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  width: 400px;
  height: 475px;
  border-radius: 15px;
  .licorne-img img {
    object-fit: cover;
    height: 250px;
    width: 100%;
    border-radius: 15px;
  }
  .licorne-infos {
    margin: 20px auto 20px;
  }

  .btn {
    margin-right: 20px;
  }
}
