.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-between;
  justify-content: center;
  grid-gap: 20px;
}

.container-licorne {
  justify-content: center;
  padding: 50px;
}

.unicorn-front {
  font-family: "AgendaKing";
}

.container-form {
  justify-content: center;
  margin: 30px 600px 30px;
}
