.navbar-lewagon {
  justify-content: space-between;
  background: $pastel-blue;
  font-family: "Cinzel";
  height: 10%
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}
