// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";
@import "flatpickr/dist/flatpickr";
@import "flatpickr/dist/themes/airbnb";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "licornes/show";

@font-face {
  font-family: 'AgendaKing';
  src: url('AgendaKing.ttf');
}

body .notice {
  margin-bottom : 0;
}

body {
  background-color: #EEF1FF;
}

h1 {
  font-size: 80px;
  font-weight: bold;
}

h2 {
  font-size: 40px;
  font-weight: bold;
}
